#table-data {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: 400px;

}


#table-data td,
#table-data th {
    border: 1px solid #ddd;
    padding: 8px;
    width: 50%;
}

#table-data th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}